/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: #a01e73;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dddddd;
}

.img-scaled{
    max-width: 100%;
    height: auto;
}