/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: #a01e73;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dddddd;
}

.img-scaled{
    max-width: 100%;
    height: auto;
}

.btn, .form-control{
    background-color: #EDA1D3;
    color: #540839;
    border: 2px solid #EDA1D3;
}

.btn:hover, .form-control:hover{
    border: 2px solid #540839;
    background-color: #EDA1D3;
    color: #000000;
}

.btn:focus, .form-control:focus, 
.btn:active, .form-control:active, 
.btn:active:hover, .form-control:active:hover{
    border: 2px solid #000000;
    background-color: #EDA1D3;
    color: #000000;
} 