/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root{
    --bright-pink: #a01e73;
    --dark-pink: #540839;
    --mint-green: #A6D9AD;
    --gray: #dddddd;
    --dark-gray: #333333;

    --main-bg-color: var(--bright-pink);
    --button-bg-color: var(--gray);
    --button-color-1: black;
    --button-color-2: var(--dark-gray);
}

body{
    background-color: var(--main-bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--gray);
}

.img-scaled{
    max-width: 100%;
    height: auto;
}

.btn, .form-control{
    background-color: var(--button-bg-color);
    color: var(--button-color-2);
    border: 2px solid var(--button-bg-color);
}

.btn:hover, .form-control:hover{
    border: 2px solid var(--button-color-2);
    background-color: var(--button-bg-color);
    color: var(--button-color-2);
}

.btn:focus, .form-control:focus, 
.btn:active, .form-control:active, 
.btn:active:hover, .form-control:active:hover{
    border: 2px solid var(--button-color-2);
    background-color: var(--button-color-2);
    color: var(--button-bg-color);
} 